html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.button {
  width: 6rem;
  height: 2rem;
  font-family: inherit;
  background-color: #ff5910;
  border-radius: 0.2em;
  border: none;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 45, 114, 0.9);
}
